.button {
    width: 150px;
    height: 40px;
    background: linear-gradient(225.13deg, #7bf5fb 1.83%, #4143a8 90.04%);
    border-radius: 60px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-right: 8px;
}