footer {
    background-color: #1A1C29;
    border: 1px solid #36394F;
    backdrop-filter: blur(60px);

    background-image: url('../../../assets/images/footer-top.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}